:root {
  --card-border-color: #c6c6cd;
  --card-background-color: #ffffff;

  --card-orange-border-color: #e07941;
  --card-orange-background-color: #fff7ed;

  --card-blue-border-color: #688ae8;
  --card-blue-background-color: #eff3ff;

  --card-pink-border-color: #c33d69;
  --card-pink-background-color: #fdf2f8;

  --card-teal-border-color: #2ea597;
  --card-teal-background-color: #f0fdfa;

  --card-purple-border-color: #8456ce;
  --card-purple-background-color: #f5f3ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-border-color: #434650;
    --card-background-color: #161d26;

    --card-orange-border-color: #c55305;
    --card-orange-background-color: #2d1a0f;

    --card-blue-border-color: #486de8;
    --card-blue-background-color: #0d1633;

    --card-pink-border-color: #e07f9d;
    --card-pink-background-color: #2d1120;

    --card-teal-border-color: #018977;
    --card-teal-background-color: #0a2e29;

    --card-purple-border-color: #b088f5;
    --card-purple-background-color: #1e1033;
  }
}

.card {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  margin: 0 !important;
  gap: 8px !important;
  background-color: var(--card-background-color) !important;
  border-radius: 16px !important;
  border: 1px solid var(--card-border-color) !important;
  border-radius: 16px !important;
  padding: 16px 20px !important;
  box-sizing: border-box !important;
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
}
.card.hide {
  display: none !important;
}
.card.show {
  display: flex !important;
}
.card.orange {
  border-color: var(--card-orange-border-color) !important;
  background-color: var(--card-orange-background-color) !important;
}
.card.blue {
  border-color: var(--card-blue-border-color) !important;
  background-color: var(--card-blue-background-color) !important;
}
.card.pink {
  border-color: var(--card-pink-border-color) !important;
  background-color: var(--card-pink-background-color) !important;
}
.card.teal {
  border-color: var(--card-teal-border-color) !important;
  background-color: var(--card-teal-background-color) !important;
}
.card.purple {
  border-color: var(--card-purple-border-color) !important;
  background-color: var(--card-purple-background-color) !important;
}
.card:hover {
 outline-color: #0066cc !important;
 outline-offset: -2px !important;
}
.card:focus-within {
  outline-color: #0066cc !important;
}

/* Card Title */
.card .saml-account-name {
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: 22px !important;
  display: flex !important;
  align-items: top !important;
  justify-content: space-between !important;
  gap: 8px !important;
}

/* Account Number */
.card .account-number {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
}

/* Button Container */
.card .saml-account {
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 8px !important;
  margin-top: auto !important;
}
