:root {
  --html-color: #0f141a;
  --html-background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --html-color: #ebebf0;
    --html-background-color: #161d26;
  }
}

/* Rests */
.saml-role {
  display: inline-block !important;
  margin: 0 !important;
}
h1.background,
#saml_form p,
.saml-account > hr,
.expandable-container > img,
.saml-role input[type="radio"],
#input_signin_button,
#smallprint {
  display: none !important;
}
#container {
  display: none;
}
#content {
  border: none !important;
}

html {
  color: var(--html-color);
  background-color: var(--html-background-color);
}

#saml_form {
  max-width: max-content !important;
  padding-inline: 20px !important;
  margin-inline: auto !important;
  min-width: 760px !important;
}

/* Grid */
#content fieldset {
  font-family: "Open Sans", "Helvetica Neue", Roboto, Arial, sans-serif !important;
  letter-spacing: 0.005em !important;
  display: grid !important;
  grid-template-columns: repeat(var(--grid-columns, 2), 1fr) !important;
  gap: 20px !important;
  margin-top: 20px !important;
  width: var(--grid-container-width) !important;
}

/* Filter */
.filter {
  margin-top: 20px !important;
  max-width: 600px;
  margin-inline: auto !important;
}
